name: Linux GUI Remote

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Install Desktop + VNC
        run: |
          sudo apt update
          sudo apt install -y xfce4 xfce4-goodies tightvncserver novnc websockify curl

      - name: Setup VNC Password
        run: |
          mkdir -p ~/.vnc
          echo "123456" | vncpasswd -f > ~/.vnc/passwd
          chmod 600 ~/.vnc/passwd

      - name: Start VNC Server
        run: |
          vncserver :1 -geometry 1280x720
      
      - name: Start noVNC
        run: |
          websockify --web=/usr/share/novnc/ 6080 localhost:5901 &

      - name: Install Cloudflared
        run: |
          curl -L -o cloudflared https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64
          chmod +x cloudflared

      - name: Start Tunnel
        run: |
          ./cloudflared tunnel --url http://localhost:6080
