name: Kali Web Terminal 3

on:
  workflow_dispatch:

jobs:
  kali:
    runs-on: ubuntu-latest
    steps:

      - name: Install Docker
        run: |
          sudo apt update
          sudo apt install -y docker.io

      - name: Install Cloudflared
        run: |
          wget https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64
          chmod +x cloudflared-linux-amd64
          sudo mv cloudflared-linux-amd64 /usr/local/bin/cloudflared

      - name: Run Kali Container
        run: |
          sudo docker run -d --name kali -p 7681:7681 kalilinux/kali-rolling \
          bash -c "apt update && apt install -y curl && \
          curl -L https://github.com/tsl0922/ttyd/releases/latest/download/ttyd.x86_64 -o /usr/local/bin/ttyd && \
          chmod +x /usr/local/bin/ttyd && \
          /usr/local/bin/ttyd -p 7681 bash"

      - name: Start Tunnel
        run: |
          cloudflared tunnel --url http://localhost:7681 --no-autoupdate
